@charset "utf-8";
/* CSS Document */

/******************************

******************************/
.Countdown-content{
	background: #1a1a1a9e;
	padding: 0px 0;
}
.Countdown-block {
	font-size: 1.5em;
	font-weight: 400;
	color: #FFFFFF;
}
.Countdown-label{
	font-size: 1.0em;
	display: block;									    
	margin-bottom: 0;
    text-align: center;
    line-height: 100%;
} 
.Countdown-label--main{
	font-size: 2.4em;
}
.Countdown-block--colored{
	background: #1a1a1a9e;
	padding: 1%;
}
.Countdown-block--wSeparator:before {
    content: " ";
    width: 3px;
    background: #FFFFFF;
    position: absolute;
    right: 0;
    top: 20px;
    bottom: 30px;
    margin: auto;
}