/***********
1. main_nav_list
***********/
.home_content h1 {
	font-size: xxx-large;
}

.btn-link{
	cursor: pointer;
	font-size: 1.2rem !important;
	color: #0089ff;
	font-weight: bold;
}
.card-option{
	border-right: 1px solid;
}

.news_post {
	margin-bottom: 15px
}
